<!-- QUESTION: How do you decide when to use a directive or a component? -->
<!-- ANSWER: Usually, directives are used when you need to have some sort of interaction on DOM, listen to events, change some DOM properties , or you need to create a functionality which is generic. Component is used when you need a template, its style, its logic all in one place. -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let number of oddNumbers"
          >
            {{ number }}
          </li>
        </div>

        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: even % 2 === 0 }"
            [ngStyle]="{
              backgroundColor: even % 2 === 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let number of evenNumbers"
          >
            {{ number }}
          </li>
        </div>

        <!-- using unless directive -->
        <p>Using appUnless directive (see below)</p>
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'
            }"
            *ngFor="let number of oddNumbers"
          >
            {{ number }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Style me with basic highlight directive!</p>
      <!-- using 'defaultColor' and 'highlightColor' in this way are two ways of property binding -->
      <p appBetterHighlight [defaultColor]="'yellow'" highlightColor="red">
        Style me with better highlight directive!
      </p>

      <!-- ngSwitch may be useful in some cases where there might be a lot of ngIf conditions - similar to the JS switch statement -->
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>
