<label>Server Name</label>
<!-- '$event' is a reserved variable name that can be used within the template when using event binding to pass an argument to the method that is called -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->

<!-- '[()]' indicates two-way data binding in Angular -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->

<!-- Square brackets indicate to Angular that there is property binding - this is used when you want to dynamically bind some property in the DOM to the TS/JS -->
<!-- Parenthesis indicate event binding -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>

<!-- When should property binding vs. string interpolation be used? If you want to output something in the template (print some text to it) use string interpolation. If you want to change some property, be that of a HTML element or a directive or a component, use property binding. -->
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{ allowNewServer }}</p>

<!-- <p>{{ serverCreationStatus }}</p> -->

<p *ngIf="serverCreated; else noServer">
  Server was created, server name is {{ serverName }}.
</p>
<ng-template #noServer> No server was created. </ng-template>

<!-- The asterisk indicates a structural directive - structural directives change the DOM -->
<app-server *ngFor="let server of servers"></app-server>

<hr />

<h3>Assignment 1</h3>

<ol>
  <li>
    Add a Input field which updates a property ('username') via Two-Way-Binding
  </li>
  <li>
    Output the username property via String Interpolation (in a paragraph below
    the input)
  </li>
  <li>
    Add a button which may only be clicked if the username is NOT an empty
    string
  </li>
  <li>
    Upon clicking the button, the username should be reset to an empty string
  </li>
</ol>

<input
  type="text"
  [(ngModel)]="username"
  (input)="activateButton($event)"
  placeholder="username"
/>
<p>{{ username }}</p>

<button [disabled]="!buttonActive" (click)="resetInput()">Add New</button>

<p>{{ buttonActive }}</p>
