<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->

      <form (ngSubmit)="onSubmit()" #data="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            id="email"
            class="form-control"
            type="email"
            name="email"
            email
            ngModel
            required
            #emailField="ngModel"
          />
          <span
            class="help-block"
            *ngIf="!emailField.valid && emailField.touched"
            >Please enter a valid email.
          </span>
        </div>

        <div class="form-group">
          <label for="subscriptions">Subscriptions</label>
          <select
            name="subscription"
            id="subscription"
            [ngModel]="defaultSub"
            class="form-control"
          >
            <option
              *ngFor="let subscription of subscriptions"
              [value]="subscription"
            >
              {{ subscription }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            class="form-control"
            type="password"
            name="password"
            ngModel
            required
            #passwordField="ngModel"
          />
          <span
            class="help-block"
            *ngIf="!passwordField.valid && passwordField.touched"
            >Please enter a valid password.
          </span>
        </div>

        <div class="form-group">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!data.valid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="submitted">
    <hr />
    <h3>Subscription Form Information</h3>
    <p>Email: {{ subscription.email }}</p>
    <p>Subscription: {{ subscription.subType }}</p>
    <p>Password: {{ subscription.password }}</p>
  </div>
</div>
