<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- 'ngSubmit' (a directive) takes advantage of HTML's default submission (when a submit button inside of a form is clicked) will fire an event whenever the form is submitted. -->
      <!-- The local reference '#data' gives access to the form element -->
      <!-- 'ngForm' is assigned to the '#data' reference to give access to the form data object -->
      <!-- <form (ngSubmit)="onSubmit(data)" #data="ngForm"> -->
      <!-- ngModel is used within the different inputs to register the values that are given so they show up in the form submission object -->
      <form (ngSubmit)="onSubmit()" #data="ngForm">
        <!-- ngModelGroup groups this form section's data into the 'userData' group which will show up inside of the form submission object -->
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <!-- 'ngModel' (a directive) without any brackets or parenthesis tells Angular that this is a form control. -->
            <!-- 'name' is NOT Angular specific. It does tell Angular the name of the control -->
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
            />
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()"
          >
            Suggest an Username
          </button>
          <div class="form-group">
            <label for="email">Email</label>
            <!-- 'email' is a directive made available by Angular which assists with checking to see if a user entry in a field is a valid email -->
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #emailField="ngModel"
            />
            <!-- adding ngModel to the input by adding a local reference ('#emailField') to the input element gives access to the control created by Angular -->
            <span
              class="help-block"
              *ngIf="!emailField.valid && emailField.touched"
              >Please enter a valid value!</span
            >
          </div>
        </div>
        <span class="help-block" *ngIf="!userData.valid && userData.touched"
          >User data is invalid!</span
        >
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            name="questionAnswer"
            rows="3"
            [(ngModel)]="answer"
          ></textarea>
        </div>
        <p>Your reply: {{ answer }}</p>

        <!-- utilizing *ngFor to loop through the array of genders - ngModel is required so this field is registered in the form submission -->
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required
            />
            {{ gender }}
          </label>
        </div>

        <!-- utilizing the local reference for the form ('#data') to check and see if the form is valid - if not the submit button is disabled -->
        <button class="btn btn-primary" type="submit" [disabled]="!data.valid">
          Submit
        </button>
        <button class="btn btn-secondary" type="button" (click)="onReset()">
          Reset
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Secret Question: {{ user.secret }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>
