<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- 'ngSubmit' (a directive) takes advantage of HTML's default submission (when a submit button inside of a form is clicked) will fire an event whenever the form is submitted. -->
      <!-- The local reference '#data' gives access to the form element -->
      <!-- 'ngForm' is assigned to the '#data' reference to give access to the form data object -->
      <!-- <form (ngSubmit)="onSubmit(data)" #data="ngForm"> -->
      <form (ngSubmit)="onSubmit()" #data="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <!-- 'ngModel' (a directive) without any brackets or parenthesis tells Angular that this is a form control. -->
            <!-- 'name' is NOT Angular specific. It does tell Angular the name of the control -->
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
            />
          </div>
          <button class="btn btn-default" type="button">
            Suggest an Username
          </button>
          <div class="form-group">
            <label for="email">Email</label>
            <!-- 'email' is a directive made available by Angular which assists with checking to see if a user entry in a field is a valid email -->
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
            />
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" ngModel name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <!-- utilizing the local reference for the form ('#data') to check and see if the form is valid - if not the submit button is disabled -->
        <button class="btn btn-primary" type="submit" [disabled]="!data.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
