<hr />
<div>
  <h3>Assignment 2</h3>
  <ol>
    <li>Add A button which says 'Display Details'</li>
    <li>
      Add a paragraph with any content of your choice (e.g. 'Secret Password =
      tuna')
    </li>
    <li>
      Toggle the displaying of that paragraph with the button created in the
      first step
    </li>
    <li>
      Log all button clicks in an array and output that array below the secret
      paragraph (maybe log a timestamp or simply an incrementing number)
    </li>
    <li>
      Starting at the 5th log item, give all future log items a blue background
      (via ngStyle) and white color (ngClass)
    </li>
  </ol>
  <hr />
  <!-- <button (click)="showSecret = !showSecret">Toggle Details</button> -->
  <button (click)="onToggleDetails()">Toggle Details</button>
  <p *ngIf="showSecret === true">Secret Password = tuna</p>
  <div
    *ngFor="let logItem of log; let i = index"
    [ngStyle]="{
      'background-color': i >= 4 ? 'blue' : 'transparent'
    }"
    [ngClass]="{ textColor: i >= 4 }"
  >
    {{ logItem }}
  </div>
</div>
